<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/messages" %>
    <div>
      <% if logged_in? %>
        <div>
          <%= "(Admin)" if current_user.admin? %>
          <%= link_to current_user.username, user_path(current_user) %>
          <%= button_to 'Log out', logout_path, method: :delete %>
          <%= button_to "Delete profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      <% else %>
        <%= link_to 'Log in', login_path %>
        <%= link_to 'Sign up', login_path %>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
